bs4
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-chroma
requests
langgraph
black
langserve
sse_starlette
fastapi
uvicorn
fastapi-cors
youtube-transcript-api
python-dotenv
pydantic
langchain-core
langchain-text-splitters
pytube
PyPDF2
python-docx
python-multipart
yt-dlp
openai